<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="history">
    HISTORY
    <br>
    {{hist}}
  </div>
  <mat-grid-list id="con" cols=4 rowHeight="100px" columnWidth="100px">
    <mat-grid-tile id="dis" style="background-color: white;" [colspan]="3">
      <p id="value">{{result}}</p>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="clear()">C</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('1')">1</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('2')">2</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('3')">3</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="sol('/')">/</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('4')">4</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('5')">5</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('6')">6</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="sol('-')">-</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('7')">7</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('8')">8</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal('9')">9</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="sol('*')">*</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="sol('+')">+</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="cal(0)">0</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="history()">History</div>
    </mat-grid-tile>
    <mat-grid-tile id="but">
      <div (click)="solve()" style="background-color: orange;">=</div>
    </mat-grid-tile>
  </mat-grid-list>
</body>

</html>